name: OpenPolitics
tagline: A platform and plan for open source democracy; everyone has ideas, it's time we used them.

markdown: kramdown

exclude: ["vendor"]

kramdown:
  auto_ids: true

baseurl: /

data_dir: data

gems:
  - jemoji
  
defaults:
-
  scope:
    path: "manifesto/index.md"
    type: "pages"
  values:
    layout: "manifesto_index"
-
  scope:
    path: "manifesto/constituencies/index.md"
    type: "pages"
  values:
    layout: "manifesto_local_index"
-
  scope:
    path: "manifesto/constituencies"
    type: "pages"
  values:
    layout: "manifesto_local_policy"
-
  scope:
    path: "manifesto"
    type: "pages"
  values:
    layout: "manifesto_policy"